@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.wrap_container {
  max-width: 1832px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate {
  width: 70%;
  display: flex;
  font-family: Inter;
  flex-wrap: wrap;
  flex-direction: column;
  img {
    max-width: 50%;
  }
}

.form_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.links_container {
  width: 100%;
  display: flex;
  font-size: 28px;

  ul {
    width: 100%;
    display: flex;
    gap: 50px;
    li {
      flex-grow: 0;
      color: #586870;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
  }
}
@media (max-width: 1430px) {
  .form_container {
    flex-direction: column;
  }
  .plate {
    img {
      align-self: center;
    }
    width: 100%;
  }
  .links_container {
    ul {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
@media (max-width: 490px) {
  .links_container {
    ul {
      justify-content: center;
      font-size: 24px;
    }
  }
}
