.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.outer {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrap {
  cursor: pointer;
  padding: 5px 8px 5px 5px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  &.active_link {
    border-radius: 25px;
    background: #8ce3af92;
    &::after {
      transform: rotate(90deg);
    }
  }
  &::after {
    content: "";
    transition: all ease-in-out 0.3s;
    display: flex;
    width: 15px;
    height: 15px;
    background: url("../../assets/icons/expand.svg");
  }
  &:hover {
    background: #8ce3af;
  }
}

.modal {
  visibility: hidden;
  opacity: 0%;
  display: flex;
  width: 100%;
  min-height: 120px;
  bottom: -100px;
  padding-top: 5px;
}

.modal_content {
  width: 100%;
  display: flex;
  height: 100%;
  background: #7b83ce;
  border-radius: 20px;
  flex-direction: column;
}

.active {
  visibility: visible;
  opacity: 70%;
}

.login {
  font-size: 14px;
  display: block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list {
  padding: 2px 2px;
}

.list_link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  height: 30px;
  border-radius: 20px;
  &:hover {
    background: #2a39c0;
  }

  img {
    width: 20px;
    margin-right: 5px;
  }

  a {
    padding-left: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.part_title {
  color: white;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 5px 15px;
  border-radius: 15px;
  background: #2a39c0;
}

@media (max-width: 750px) {
  .login,
  .wrap:after {

    display: none;
    
  }
  .wrap {
    padding: 0;
    &:hover {
      background: transparent;
    }
    &.active_link {
      background: transparent;
    }
  }
  .modal_content {
    display: none;
  }
}

@media (max-width: 350px) {
  .outer {
    height: 30px;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
}
