.form {
  font-family: Inter;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  margin-top: 30px;
  label {
    position: relative;
  }
}

.text_input {
  font-size: 17px;
  height: 54px;
  width: 100%;
  padding: 5px 52px 5px 7px;
  background: #ffffff;
  border: 0.5px solid #c0c6c9;
  border-radius: 8px;
  &.pdr {
    padding-right: 52px;
  }
  &:focus {
    border: 2px solid #5957ba;
  }
  margin-bottom: 5px;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.text_label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.submit {
  cursor: pointer;
  width: 150px;
  height: 40px;
  color: white;
  align-self: center;
  font-weight: bold;
  font-size: 18px;
  &:disabled,
  &[disabled] {
    background: linear-gradient(
      180deg,
      rgba(110, 108, 224, 0.3) 0%,
      rgba(77, 76, 173, 0.3) 100%
    );
  }

  background: linear-gradient(
    180deg,
    rgb(110, 108, 224) 0%,
    rgb(78, 76, 173) 100%
  );

  border-radius: 8px;
}
.error_input {
  border: 2px solid red;
}

.show_btn {
  &.on {
    background: url("../../assets/icons/vis_on.svg");
  }
  background: url("../../assets/icons/vis_off.svg");
  position: absolute;
  top: 42%;
  right: 15px;
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.capslock {
  font-size: 14px;
  padding: 15px;
}