@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.wrap_container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}
.main {
  margin-top: 200px;
}
.main_row {
  display: flex;
  justify-content: end;
  align-items: center;
}
.form_block {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 56px;
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.nav_btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 96px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  transition: all ease-in-out 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}
.btn_up {
  background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
  border-radius: 10px;
  border: none;
}

.input_field {
  width: 578px;
  height: 50px;
  background: #16161e;
  border: 1px solid #16161e;
  border-radius: 10px;
  color: #ffffff;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  gap: 17px;
  font-size: 18px;
}
.label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  gap: 17px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}