.header {
  height: auto;
  border-bottom: 1px solid black;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}
.wrap_container {
  max-width: 1460px;
  padding: 0 30px;
  margin: 0 auto;
  height: auto !important;
}
.wrap {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
