.text {
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab";
  font-size: 4.5em;
}
.text_1 {
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab";
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 520px;
  line-height: 40px;
}
.parent {
  background-color: #7b83ce;
}