.nav {
  font-family: Inter;
  padding-bottom: 40px;
  width: 100%;

  ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}

.link {
  display: inline-flex;
  width: 25px;
  height: 25px;
  transition: all ease 0.3s;
  &:hover {
    transform: scale(1.1);
    transition: all ease 0.3s;
  }
}
