@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.error_container {
  visibility: hidden;
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  min-height: 16px;
  line-height: 1.4;
  font-family: Inter;
  &.visible {
    visibility: visible;
    display: flex !important;
  }
  &::before {
    content: url("../../assets/icons/error.svg");
    display: inline-block;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
  }
}
