@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  flex-wrap: wrap;
  font-family: "Roboto Slab", sans-serif;
}
.nav_menu {
  display: flex;
  justify-content: end;
  gap: 12px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8ce3af;
  span {
    color: #7b83ce;
  }
  svg {
    width: 55px;
    height: 55px;
  }
}
.links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.link_item {
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.5s;
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
  }
  &:hover {
    &::after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 2px;
      background-color: #8ce3af;
      transition: width 0.5s;
    }
  }
  a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 100%;
    color: #2c2c2c;
    &:hover {
      color: #8fd8ac;
    }
  }
}
.navigate_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigate {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.input_search {
  outline: none;
  max-width: 100%;
  max-height: 100%;
  width: 130px;
  padding: 9px 35px;
  border: 1px solid #7b83ce;
  border-radius: 40px;
  color: #8ce3af;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.search_container {
  position: relative;
  img {
    left: 5px;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  *::-webkit-input-placeholder {
    color: #7b83ce;
  }
  *:-moz-placeholder {
    color: #7b83ce;
    opacity: 1;
  }
  *::-moz-placeholder {
    color: #7b83ce;
    opacity: 1;
  }
  *:-ms-input-placeholder {
    color: #7b83ce;
  }
  *::-ms-input-placeholder {
    color: #7b83ce;
  }
  *::placeholder {
    color: #7b83ce;
  }
}
.nav_btn {
  width: 96px;
  height: 40px;
  border: 1px solid #7b83ce;
  border-radius: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #7b83ce;
  cursor: pointer;
}
.btn_up {
  color: #8ce3af;
}
.burger_menu {
  display: none;
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media (max-width: 1395px) {
  .header_nav {
    justify-content: center;
    gap: 25px;
  }
}
@media (max-width: 373px) {
    .logo {
        h1 {
            display: none;
        }
    }
  }
