@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.header_nav {
    display: flex;
    height: 80px;
    justify-content: end;
    align-items: center;
}
.nav_menu {
    display: flex;
    justify-content: end;
    gap: 12px;
}
