@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.inputField {
    width: 578px;
    height: 50px;
    background: #16161E;
    border: 1px solid #16161E;
    border-radius: 10px;
    color: #FFFFFF;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    gap: 17px;
    font-size: 18px;
}
.label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    gap: 17px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}