.posts_col {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 300px;
  height: 100%;
  border-radius: 10px;
  background: rgb(125, 133, 207);
  cursor: pointer;
}

.image {
  object-fit: cover;
  width: 50%;
  min-height: 100%;
  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right_content {
  padding: 20px;
  padding-top: 45px;
  display: flex;
  max-width: 50%;
  width: 100%;
  max-height: 100%;
  font-family: Inter;
  flex-direction: column;
  gap: 20px;
}
.icons {
  width: 30px;
  height: 30px;
  position: absolute;
}
.editBtn {
  top: 10px;
  right: 45px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.deleteBtn {
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.title_post {
  font-weight: 700;
  font-size: 19px;
  padding-bottom: 3px;
  color: hsl(144, 61%, 72%);
  display: block;
  word-break: break-all;
  max-width: 100%;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
@media (max-width: 947px) {
  .posts_col {
    max-width: 485px;
    gap: 10px;
  }
  .right_content {
    padding-top: 10px;
  }
  .posts_col {
    flex-direction: column;
    max-height: 600px;
  }
  .image {
    height: 50%;
    min-width: 100%;
    border-radius: 0; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .editBtn {
    bottom: 10px;
    top: auto;
  }
  .deleteBtn {
    bottom: 10px;
    top: auto;
  }
}
