.wrap_container {
  max-width: 1832px;
  margin: 0 auto;
  font-family: Inter;
}

.form_container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.form {
  max-width: 850px;
  width: 100%;
  min-width: 300px;
  background-color: #fafbfd;
  box-shadow: 0px 4px 54px rgba(0, 27, 98, 0.03);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.text_input {
  background: rgb(102, 114, 208);
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
  color: white;
  padding: 7px;
  &::placeholder {
    color: white;
  }
}

.text_area {
  resize: none;
  font-family: Inter;
  width: 100%;
  max-height: 100px;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  padding: 5px 0 5px 5px;
  background: rgb(102, 114, 208);
  &::placeholder {
    color: white;
  }
}

.label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.submit {
  display: flex;
  min-width: 160px;
  width: 20%;
  align-self: center;
  height: 40px;
  color: white;
  background: rgb(102, 114, 208);
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
  &:disabled {
    background: rgba(102, 114, 208, 0.3);
  }
}

.delete {
  display: flex;
  min-width: 100px;
  width: 10%;
  align-self: center;
  height: 40px;
  color: white !important;
  background: rgb(227, 86, 86);
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
